<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar with Expenditure</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        #calendar {
            max-width: 2000px;
            margin: 0 auto;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            var calendar = $('#calendar');

            function initializeCalendar() {
                calendar.fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultDate: new Date(),
                    navLinks: true,
                    editable: true,
                    eventLimit: true,
                    events: function(start, end, timezone, callback) {
                        var selectedSite = $('#site_select').val();
                        $.ajax({
                            url: '/calendar_events/' + selectedSite,
                            success: function(data) {
                                var events = [];
                                $.each(data, function(index, item) {
                                    var formattedDate = moment(item.date).format('YYYY-MM-DD');
                                    var title = 'Expenditure: $' + item.total_amount_expenditure  + '\nPurchase: $' + item.total_amount_purchase;
                                    events.push({
                                        title: title,
                                        start: formattedDate,
                                        allDay: true, // Set allDay property to true
                                        color: '#f00',
                                    });
                                    
                                });
                                callback(events);
                            }
                        });
                    }
                });
            }

            $('#site_select').change(function() {
                var selectedSite = $(this).val();
                $.ajax({
                    url: '/calendar_events/' + selectedSite,
                    success: function(data) {
                        calendar.fullCalendar('destroy');
                        initializeCalendar();
                        calendar.fullCalendar('removeEvents');
                        calendar.fullCalendar('addEventSource', data);
                    }
                });
            });

            initializeCalendar();
        });
    </script>    
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <nav class="navbar">
        <button class="nav-button" onclick="location.href='/d_local_expenditure'">Local Expenditure</button>
        <button class="nav-button" onclick="location.href='/d_material_purchase'">Material Purchase</button>
        <button class="nav-button" onclick="location.href='/d_report'">Report</button>
        <button class="nav-button" onclick="location.href='/d_labour'">Labour</button>
        <button class="nav-button" onclick="location.href='/d_staff_salary'">Staff Salary</button>
    </nav>

    <h1 class="Page_Name">Calendar View</h1>

    <div>
        <label for="site_select">Select Site:</label>
        <select id="site_select">
            {% for site in sites %}
                <option value="{{ site.site_number }}">{{ site.site_number }}</option>
            {% endfor %}
        </select>
    </div>
    <br />
    <div id="calendar"></div>
</body>
</html>
